$blue: #5c87b2;
$white: #f7f4ef;
$black:  #121212;
$h1color: #fffdfd;
$gold: #ac8d59;


// cults
$orange: #d4b47e;
$pinglight: #f2ece4;
$white_cult: #ebebeb;


// projivanie

$black_live: #2b2b2b;



// footer




// Страница досуг

$dosug_item: #e1e1e1;